@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-kufi-arabic@latest/latin-400-normal.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/noto-kufi-arabic@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  color-scheme: light dark;
}
[dir='rtl'] html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
p,
div,
ul,
li,
button {
  font-family: 'Noto Kufi Arabic' !important;
}

html,
body {
  min-height: 100%;
  font-family: 'Noto Kufi Arabic' !important;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Noto Kufi Arabic';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.cards-hover {
  display: none;
}

.Cards:hover .cards-hover {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.card-hover-products {
  display: none;
}

input[type='time'] {
  background-color: #f0f0f0; /* background color */
  color: #333; /* text color */
  border: 1px solid #ccc; /* border color */
  border-radius: 5px; /* rounded corners */
  padding: 10px; /* padding inside the input */
}

.Cards:hover .card-hover-products {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.Cards-Requests-hover {
  display: none;
}

.Cards-Requests:hover .cards-hover {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.Cards-Requests:hover .request {
  color: #73a3d0;
}

.custom-style-columns {
  text-align: center;
  font-family: 'Noto Kufi Arabic';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 600px) {
  .custom-style-columns {
    font-size: 16px;
  }
}

.custom-style-label {
  font-weight: 500;
  font-size: 16px;

  line-height: 32px;
  margin: 0px;
  margin-top: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.custom-style-label2 {
  font-weight: 500;
  font-size: 16px;

  line-height: 32px;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.custom-style-label3 {
  font-weight: 500;
  font-size: 16px;

  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.hover-edit {
  /* box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 11px -5px rgba(0, 0, 0, 0.16); */

  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
}

.go3958317564 {
  display: flex;
  justify-content: flex-start !important;
}

.custom-toast .Toastify__toast-icon {
  margin-right: 16px; /* Adjust the value as needed */
}

.custom-toast .Toastify__toast-body {
  display: flex;
  align-items: right !important;
}

.rtl-471w5d-MuiToolbar-root {
  padding: 0px !important;
  list-style: circle;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-datepicker__day {
  margin-left: 10px !important;
}
.react-datepicker__day-name {
  margin-left: 10px !important;
  letter-spacing: 0;
}
.react-datepicker__month-text {
  margin: 5px !important;
}

button {
  letter-spacing: 0 !important;
  line-height: normal !important;
}
ul {
  margin-right: -15px;
  margin-top: 0;
  margin-bottom: 0;
}
ul li {
  padding-top: 6px;
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type='time'] {
  background-color: transparent;
  border: none;
}
